# .env
PORT=5000
API_KEY=




# we wil be using this for whatsapp messages https://whatsender-documentation.amcoders.com/  

WHATSAPP_API=
WHATSAPP_APPKEY=
WHATSAPP_AUTHKEY=
WHATSAPP_TO=

# Optional: Puppeteer headless setting
HEADLESS=false
